@(other: com.github.ktonga.tweetvirality.models.twitter.User, people: List[com.github.ktonga.tweetvirality.models.people.Person])

@import com.github.ktonga.tweetvirality.views.Utils._

@fourColsHead(screenName: String) = {
                <th>You Follow</th>
                <th>Follows You</th>
                <th>@screenName Follows</th>
                <th>Follows @screenName</th>
}


@fourColsRow(person: com.github.ktonga.tweetvirality.models.people.Person) = {
                <td><span class="glyphicon glyphicon-@flagIcon(person.youFollow)"></span></td>
                <td><span class="glyphicon glyphicon-@flagIcon(person.followsYou)"></span></td>
                <td><span class="glyphicon glyphicon-@flagIcon(person.heFollows)"></span></td>
                <td><span class="glyphicon glyphicon-@flagIcon(person.followsHim)"></span></td>
}

@twoColsHead(screenName: String) = {
                <th class="col-sm-2">You</th>
                <th class="col-sm-2">@screenName</th>
}


@twoColsRow(person: com.github.ktonga.tweetvirality.models.people.Person) = {
<td>
    <span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-@compoundIcon(person.youFollow, person.followsYou)"></span>
</td>
<td>
    <span class="glyphicon glyphicon-user"></span><span class="glyphicon glyphicon-@compoundIcon(person.heFollows, person.followsHim)"></span>
</td>
}

@main(s"People in Common - with ${other.screen_name}") {

  <div class="col-md-12">
    <h3>People in Common with @@@other.screen_name</h3>
    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-8">Person</th>
                @twoColsHead(other.screen_name)
            </tr>
        </thead>
        <tbody>
        @for(person <- people) {
            <tr>
                <td class="media">
                    <a class="pull-left" href="https://twitter.com/@person.user.screen_name" target="_blank">
                        <img class="media-object" src="@person.user.profile_image_url" alt="@person.user.screen_name"/>
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">@person.user.name</h4>
                        <a href="https://twitter.com/@person.user.screen_name" target="_blank">@@@person.user.screen_name</a>
                        @person.user.description
                    </div>
                </td>
                @twoColsRow(person)
            </tr>
        }
        </tbody>
    </table>
  </div>

}